@font-face {
    font-family: stf;
    src: url(/assets/fonts/OpenSans.ttf);
}

header{
    background: url(/assets/img/headerbg.png);
    padding: 75px 0;
    text-align: center;
    background-size: cover;
    border-bottom: #ffffe6 solid 0.2px;
    font-family: stf;
    letter-spacing: 0.1em;
}

html, body {
  padding: 0;
  margin: 0;
}

img.repo {
    height: 120px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.github {
    border-radius: 25px;
    padding: 20px;
    width: 100px;
    height: 100px;
}
body {
  background-image: url(/assets/img/texture.png);
  font-family: stf;
  font-size: 1.4rem;
  font-weight: 500;
}

.call-outs-container {
  max-width: 1400px;
  margin: 40px auto 0 auto;
}

.call-out {
  padding: 20px;
  border-radius: 25px;
  box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 30%;
  background-color: rgb(133, 193, 233) ;
  border: 2px solid white;
}

a {
    text-decoration: none;
}

@media (min-width: 900px) {
  .call-outs-container {
    display: flex;
    justify-content: space-between;
  }
}
