    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <ul class="list-inline">
                            {% for network in site.social %}
                            <li>
                                <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
                            </li>
		                    {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
