    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <a href="https://github.com/fdelmazo/" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                        <a href="mailto:{{ site.email }}" class="btn-social btn-outline"><i class="fa fa-fw fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
