<header class="site-header" role="banner">
    <div class="wrapper">
        <p>
        <a href="{{site.github.owner_url}}">
            <img class="github"  src="{{site.github.owner_gravatar_url}}" style="float: left;">
        </a>

        <h1 style="text-transform: uppercase; display: inline; padding: 0.2em;">
        {{site.title}}
        </h1>
        </p>
        <h3><p style="font-weight: 500">{{site.description}}</h3>
    </div>

    <b style="font-size: small">
    <a href="mailto:{{site.email}}">{{ site.email }}</a>
    {% include icon-github.html username=site.github_username %}
    </b>
</header>