<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{page.description}}">
    <meta name="author" content="{{page.author}}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

    <link rel="stylesheet" href="{{ "/style.css" }}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">    

    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>
