<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> 
<script>{%include js/gh-card.js %}</script>
<script>{%include js/GithubRepoWidget.js %}</script>
<script>
    $(document).keydown(function(event) { 
      if (event.keyCode == 27) { 
        $('.close-modal').click();
      }
    });

    function updateHue() {
      let root = document.documentElement;
      let primaryHue = parseFloat(getComputedStyle(root).getPropertyValue('--primary-hue'))
      let secondaryHue = parseFloat(getComputedStyle(root).getPropertyValue('--secondary-hue'))
      primaryHue += 1
      if (primaryHue > 360) primaryHue -= 360;
      secondaryHue = primaryHue + 150
      if (secondaryHue > 360) secondaryHue -= 360;
      root.style.setProperty('--primary-hue', primaryHue);
      root.style.setProperty('--secondary-hue', secondaryHue);
    }

    $(document).ready(function() {
      setInterval(updateHue, 1000)

      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    })
</script>