    <script src="{{ "/js/jquery-1.11.0.js" }}"></script>
    <script src="{{ "/js/bootstrap.min.js" }}"></script>
    <script src="{{ "/js/jquery.easing.min.js" }}"></script>
    <script src="{{ "/js/classie.js" }}"></script>
    <script src="{{ "/js/freelancer.js" }}"></script>
    <script src="{{ "/js/widget.js" }}"></script>
    <script src="{{ "/js/GithubRepoWidget.js" }}"></script>
    <script>
        $(document).keydown(function(event) { 
          if (event.keyCode == 27) { 
            $('.close-modal').click();
          }
        });
    </script>