 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <button class="close-modal fa fa-times" data-dismiss="modal"></button>
        <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h3>{{ post.project_title }}</h3>
                                                        
                            {%if post.project_subtitle%}
                                <p><i><b>{{ post.project_subtitle }}</b></i></p>
                            {%endif%}

                            <div id='modal-links-div'>
                                
                                <div class='modal-links' style='text-align: right;'>
                                    {%if post.project_site%}
                                        <strong><a href={{post.project_site}}>Web</a></strong>
                                    {%elsif post.github_pages%}
                                        <strong><a href=https://{{post.github_user}}.github.io/{{post.github_repo}}>Web</a></strong>
                                    {%endif%}
                                </div>
                                
                                <div class='modal-links' style='width:5%'>
                                •
                                </div>

                                <div class='modal-links' style="text-align:left">
                                    <strong><a href=https://www.github.com/{{post.github_user}}/{{post.github_repo}}>Source</a></strong>
                                </div>

                            </div>
                            
                            <hr class="star-primary">

                            <div class="github-widget-title" data-repo="{{post.github_user}}/{{post.github_repo}}"></div>

                            <div class="portfolio-item">
                                {%if post.project_site%}
                                <a href={{post.project_site}} class="portfolio-link" data-toggle="modal">
                                {%elsif post.github_pages%}                                
                                <a href=https://{{post.github_user}}.github.io/{{post.github_repo}} class="portfolio-link" data-toggle="modal">
                                {%else%}
                                <a href=https://www.github.com/{{post.github_user}}/{{post.github_repo}} class="portfolio-link" data-toggle="modal">
                                {%endif%}
                                    <div class="caption">
                                        <div class="caption-content">
                                            {%if post.project_site or post.github_pages%}
                                            <i>Web</i>
                                            {%else%}
                                            <i>Source Code</i>
                                            {%endif%}
                                        </div>
                                    </div>
                                    <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.project_title }}">
                                </a>
                            </div>
                            
                            <div class="github-widget-download" data-repo="{{post.github_user}}/{{post.github_repo}}"></div>                       

                            <p>{{ post.project_description }}</p>

                            {%if post.github_collaborators%}
                                <small>
                                <strong>
                                    <div style="display:inline; padding:0 4px 0 0">En conjunto con:</div>
                                    <ul class="list-inline" style="display:inline">
                                    {%for collaborator in post.github_collaborators%}
                                        <li class="collaborator"><a href= https://github.com/{{collaborator}}>{{collaborator}}</a></li>
                                    {%endfor%}
                                    </ul>
                                </strong>
                                </small>
                            {%endif%}

                            <p><small><strong>{{ post.project_date }}</a></strong></p></small>

                            <div><button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}