 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal fa fa-times" data-dismiss="modal">
            </div>
        <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h3>{{ post.project-title }}</h3>
                            <hr class="star-primary">
                            {%if post.slider%}
                            {% include slider.html selector=post.slider %}
                            {%else%}
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.project_title }}">
                            {%endif%}
                            <p>{{ post.description }}</p>
                            <ul class="list-inline item-details" id="modal-links">
								{%if post.project-date%}
								<li>
                                    <strong>{{ post.project-date }}</a></strong>
                                </li>
								{%endif%}
                                {%if post.collaborator%}
                                <li>
                                    <strong>En conjunto con: <a href= https://github.com/{{post.collaborator}}>{{post.collaborator}}</a></strong>
                                </li>
                                {%endif%}
								{%if post.languaje%}
                                <li>
                                    <strong>{{ post.languaje }}</a></strong>
                                </li>
								{%endif%}
                                {%if post.link_web%}
                                <li>
                                    <strong><a href={{post.link_web}}>Sitio</a></strong>
                                </li>
                                {%endif%}
                                {%if post.link_github%}
                                <li>
                                    <strong><a href={{post.link_github}}>Código fuente</a></strong>
                                </li>
                                {%endif%}
                                </li>
                            </ul>
                            <p></p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}