<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="title">
                    <img class="img-responsive" style="color:black; display:inline" src="https://ghchart.rshah.org/FdelMazo" alt="FdelMazo's Contribution Calendar" />
                    <div class="centered"><h1>Projects</h1></div>
                </div>                     
                <div class="hr">
                    <span class="icon fa fa-dot-circle-o"></span>
                </div>

            </div>
        </div>
        
        <div class="row">
            <div class='col-sm-6'>
                <div class="github-card" data-github="FdelMazo/" data-theme="personal"></div>
            </div>

            <div class="col-sm-6 portfolio-item">
                    <a target="_blank" href="https://fdelmazo.github.io/blog/" class="portfolio-link">
                        <img id="blog" src="img/blog.png" class="img-responsive" alt="Visually Explained">
                    </a>
                </div>
        </div>
        
        <div class="row">
            {% for post in site.posts %}
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <strong class='caption-title'><i class="fa fa-search-plus"></i> {{post.project_title}}</strong>
                                <br>
                                <strong><i class='caption-subtitle'>{{post.project_subtitle}}</i></strong>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.project_title }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

