<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="title">
                    <img class="img-responsive" style="color:black; display:inline" src="https://ghchart.rshah.org/FdelMazo" alt="FdelMazo's Contribution Calendar" />
                    <div class="centered"><h1>Projects</h1></div>
                </div>                     
                <div class="hr">
                    <span class="icon fa fa-dot-circle-o"></span>
                </div>

            </div>
        </div>
        
        <div class="row">
            <em style="font-size: larger; font-weight: 600;">This site is mostly for archival purposes and quick finding of my
                personal projects.</em>
            <br />
            <em style="font-size: larger; font-weight: 600;">I'm available for freelance work, <a data-toggle="tooltip" data-placement="bottom" title="{{ site.email }}" target="_blank" href="mailto:{{ site.email }}">email me</a>!</em>
        </div>

        <div class="row" style="margin-top: 20px;">
                <div class="github-card" data-github="FdelMazo/" data-theme="personal"></div>
        </div>
        
        <div class="row">
            {% for post in site.posts %}
                <div class="col-sm-4 portfolio-item">
                    <a href="#{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            {%if post.spanish%}
                            <strong class="caption-language">
                                <i class="fa fa-globe"></i> SPA</strong>
                            {%endif%}
                            <div class="caption-content">
                                <strong class='caption-title'><i class="fa fa-search-plus"></i> {{post.project_title}}</strong>
                                <br>
                                <strong><i class='caption-subtitle'>{{post.project_subtitle}}</i></strong>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.img }}" class="img-responsive portfolio-img" alt="{{ post.project_title }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

